.order-container {
  margin: 20px auto;
  padding: 20px;
  max-width: 95%; /* Container width */
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.order-title {
  text-align: left;
  margin-bottom: 20px;
  font-size: 2.5rem;
  color: #333;
  padding-left: 10px;
}

.gamepad-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

/* Responsive wrapper for the table */
.tableorder-responsive {
  margin-top: 30px;
  overflow-x: auto; /* Allow horizontal scrolling if needed */
}

.tableorder {
  width: 100%; /* Make the table occupy the full width of the container */
  border-collapse: collapse; /* Avoid gaps between table borders */
}

.tableorder th,
.tableorder td {
  text-align: left;
  padding: 12px;
  border: 1px solid #ddd;
}

.tableorder th {
  background-color: #f4f4f4;
  color: #333;
  font-weight: bold;
}

.table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table-striped tbody tr:nth-child(even) {
  background-color: #fff;
}

/* Add box-sizing to prevent unintended overflow */
*,
*::before,
*::after {
  box-sizing: border-box;
}
