@import '../src/styles/Home/buttons.css';
@import '../src/styles/Home/header.css';
@import '../src/styles/Home/navigation.css';
@import '../src/styles/Home/product-card.css';
@import '../src/styles/Home/search-cart.css';
@import '../src/styles/Home/sidebar.css';
@import '../src/styles/Home/country-location.css';
@import '../src/styles/Home/categories.css';
@import '../src/styles/Home/ProductMain.css';
@import '../src/styles/Home/productlist.css';
@import '../src/styles/Home/FeaturedProducts.css';
@import '../src/styles/Home/Footer.css';
@import '../src/styles/Product/Product.css';
@import '../src/styles/ProductDetail/ProductDetail.css';
@import '../src/styles/Order/order.css';
@import '../src/styles/OrderCheck/ordercheck.css';
@import '../src/styles/Wishlist/wishlist.css';
@import '../src/styles/Cart/cart.css';
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: #f4f4f4;
}

.bg-blue {
  background-color: #ffa500;
}

.container {
  max-width: 90%;
}

@media (min-width: 1300px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1200px;
  }
}

::-webkit-scrollbar {
  width: 8px !important;
  height: 8px !important;
}

::-webkit-scrollbar-thumb {
  background: #ffa500 !important;
  border-radius: 10px !important;
}

::-webkit-scrollbar-track {
  background: transparent !important;
}
